asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.5
django-redis==4.12.1
djangorestframework==3.12.2
dramatiq==1.10.0
Envelopes==0.4
idna==2.10
jsonfield==3.1.0
otpauth==1.0.1
prometheus-client==0.9.0
pytz==2020.5
raven==6.10.0
redis==3.5.3
requests==2.25.1
sqlparse==0.4.1
urllib3==1.26.2
XlsxWriter==1.3.7
