[submodule "OnlineJudge"]
        path = OnlineJudge
        url = https://github.com/skku-npc/OnlineJudge.git
[submodule "OnlineJudgeFE"]
        path = OnlineJudgeFE
        url = https://github.com/skku-npc/OnlineJudgeFE.git
[submodule "OnlineJudgeDeploy"]
        path = OnlineJudgeDeploy
        url = https://github.com/skku-npc/OnlineJudgeDeploy.git

