<table cellpadding="0" align="center"
        style="overflow:hidden;background:#fff;margin:0 auto;text-align:left;position:relative;font-size:14px; font-family:'lucida Grande',Verdana;line-height:1.5;box-shadow:0 0 3px #ccc;border:1px solid #ccc;border-radius:5px;border-collapse:collapse;">
    <tr>
        <th valign="middle"
            style="height:38px;color:#fff; font-size:14px;line-height:38px; font-weight:bold;text-align:left;padding:10px 24px 6px; border-bottom:1px solid #467ec3;background:#518bcb;border-radius:5px 5px 0 0;">
        {{ website_name }}</th>
    </tr>
    <tr>
        <td>
            <div style="padding:20px 35px 40px;">
                <div style="padding-bottom:10px;margin-bottom:30px;font-size:20px;font-weight:bold;color:#0478c1;border-bottom:1px solid #777">
                    Register Authentication
                </div>
                <div style="min-height:20px;">
                    Click below button to complete register
                </div>
                <p style="text-align:center;">
                    <span style="margin-top:20px; display:inline-block; padding:10px 20px; border-radius:3px; font-weight:bold; width:auto; background:#2883b8;">
                        <a href="{{ link }}" style="color:#fff;text-decoration:none;" rel="noreferrer noopener" target="_blank">Authenticate</a>
                    </span>
                </p>
                <p style="margin-top:30px">
                If you still have any questions, please contact <a href="http://pf.kakao.com/_UKraK/chat">here</a>.
                </p>
            </div>
        </td>
    </tr>
</table>