attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
coreapi==2.3.3
coreschema==0.0.4
coverage==5.4
Django==2.2.24
django-dbconn-retry==0.1.5
django-dramatiq==0.9.1
django-redis==4.12.1
djangorestframework==3.12.2
dramatiq==1.10.0
drf-yasg==1.20.0
entrypoints==0.3
Envelopes==0.4
flake8==3.8.4
flake8-coding==1.3.2
flake8-quotes==3.2.0
gunicorn==20.0.4
idna==2.10
inflection==0.5.1
itypes==1.2.0
Jinja2==2.11.3
jsonfield==3.1.0
jsonschema==3.2.0
locust==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.9
Pillow==8.2.0
prometheus-client==0.9.0
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.4.1
raven==6.10.0
redis==3.5.3
requests==2.25.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
sqlparse==0.4.1
uritemplate==3.0.1
urllib3==1.26.5
XlsxWriter==1.3.7
