@import url("../../../node_modules/font-awesome/scss/font-awesome.scss");
[class^="el-icon-fa"],
[class*=" el-icon-fa"] {
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
